*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
div{
    background-color: #3d55a2;
    color:#3d55a2;
    transition-property:color ;
    transition-duration: 2s;
    transition-delay: .5s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:clamp(16px,5vw,50px);
}
body>div>h1::selection{
    background-color: transparent;
}
body>div>h1{
    position: relative;
    padding-bottom: 16px;
    cursor: default;
}
body>div>h1::before{
    font-weight: normal;
    text-shadow: none;
    content:"Back-End Dev";
    position: absolute;
    font-size: 20px;
    bottom: 0;
    right: 0;
    transition-property: color, transform;
    transition-duration: 2s;
}
body>div>h1:hover::before{
    transform: scaleX(-1);
    color:#000;
}
