*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root,body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d55a2;
    color:#3d55a2;
    transition-property: opacity;
    transition-duration: .125s;
}
body>div{
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem,5vw,4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body>div>div{
    user-select: none;
}
body>div>div:nth-child(1){
    transition-property: color;
    transition-duration: 2s;
    text-shadow: 1px 1px black,-1px -1px black;
}
body>div>div:nth-child(2){
    transition-property: color, transform;
    transition-duration: 1s;
    transition-delay: 1s;
    align-self: flex-end;
    font-size: clamp(1rem,5vw,2rem);
}
body>div>div:nth-child(1):hover+div{
    color:#000;
    transform: scaleX(-1);
}
@media (max-width:480px) {
    body div>div:first-of-type{
        font-size: clamp(1.5rem,5vw,4rem);
    }
}
