*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3d55a2;
    color:#3d55a2;
}
body>div{
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:clamp(16px,5vw,50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body>div>div{
    transition-property: color, transform;
    transition-duration: 2s;
    user-select: none;
}
body>div>div:nth-child(1){
    text-shadow: 1px 1px black,-1px -1px black;
}
body>div>div:nth-child(2){
    transition-duration: 1s;
    align-self: flex-end;
    font-size: clamp(16px,3vw,30px);
}
body>div>div:nth-child(1):hover+div{
    color:#000;
    transform: scaleX(-1);
}
